@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;600&display=swap');
:root{
  --black:#151414;
  --gray:#201E1E;  
  --red: #D90429;
  --blue: #1D3557;
  --amber: #FFBF00;
  --emerald: #32936F;
  --white:#f0f8ff; 
  --light: 300;
  --medium: 500;
  --bold: 600;
}
* {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Akshar', sans-serif;

  font-weight: var(--light);  
  box-sizing: border-box;      
}
body {
  background-color: var(--black);
}
.App {
  text-align: center;
}

main {
  display: flex;  
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  height: 100%;
  padding: 0px;
  gap: 0px;
  justify-content: flex-start;  
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;  
  position: fixed;
  left: 140px;
  top:0;
  background-color: var(--blue);
  /* border: .1rem solid  white; */
  overflow: auto;
}
h1, h2, h3, h4{
font-weight: var(--bold);
}

.navbar-logo{
  background-color: var(--black);
  color: var(--white);
  width: 140px;
  margin-top: 0;
  padding: 0 10px 0px 5px;
  position: fixed;
  top: 0;
  z-index: 1;
  min-height: 90px;  
  max-height: 90px;  
  border-bottom: .05rem solid var(--red);
}

.navbar-logo a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  display: block;  
  font-size: 18px;    
}
.navbar-footer{
  background-color: var(--black);
  color: var(--white);
  width: 140px;
  font-size: 18px;
  margin-bottom: 0;
  border-top: .05rem solid var(--red);
  padding: 0 10px 0 5px;  
  position: fixed;
  bottom: 0;
  height: 140px;
  min-height: 140px;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}

.navbar-footer a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  display: block;  
  font-size: 18px;    
}
.navbar-footer a:hover {  
  /* border-left: 10px solid rgb(248, 137, 33); */
  text-shadow: 0 0 10px var(--amber);
}

.navbar-main {
  height: 100%;
  width: 140px;
  position: relative;
  z-index: 0;
  top: 90px;
  bottom: 500px;
  left: 0;
  background-color: var(--black);
  overflow-x: hidden;  
  overflow-y: scroll;
  padding: 0 10px 0 15px;
  font-weight: var(--medium);
  font-size: 16px;
  color: var(--white);    
  padding-bottom: 400px;  
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}
.navbar-main::-webkit-scrollbar {
  display: none;
}
.navbar-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.navbar-main a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  display: block;  
  font-size: 20px;
  padding: 5px;
  font-weight: var(--medium);  
}
.navbar-main a:hover {  
  /* border-left: 10px solid rgb(248, 137, 33); */
  text-shadow: 0 0 10px var(--amber);
}


/* this is the class for the party div */
.navbar-party {
  height: 100%;
  width: 300px;  
  min-width: 300px;
  max-width: 300px;
  z-index: 0;
  top: 60px;  
  left: 0;
  background-color: var(--gray);
  overflow-x: hidden;  
  padding: 10px 10px 10px 10px;  
  margin-left: 0px;    
  color: var(--white);
  border-right: 0.05rem solid gray;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}

.navbar-party::-webkit-scrollbar {
  display: none;
}
.navbar-party {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.navbar-party a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  display: block;
  font-weight: var(--medium);
  font-size: 20px;
  padding: 5px;  
}
.navbar-party a:hover {  
  /* border-left: 10px solid rgb(248, 137, 33); */
  text-shadow: 0 0 10px var(--amber);
}

.navbar-party-footer{
  background-color: var(--gray);
  color: var(--white);
  width: 300px;  
  min-width: 250px;
  max-width: 300px;
  font-size: 18px;
  margin-bottom: 0;
  border-top: .05rem solid var(--red);
  border-right: 0.05rem solid gray;
  padding: 0 10px 0 5px;  
  position: fixed;
  bottom: 0;
  left: 140px;
  height: 140px;
  min-height: 140px;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}

.navbar-party-footer a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  display: block;  
  font-size: 18px;    
}
.navbar-party-footer a:hover {  
  /* border-left: 10px solid rgb(248, 137, 33); */
  text-shadow: 0 0 10px var(--amber);
}


.container-main {
 color: var(--blue);
 padding: 0 0 0 10px;
}

.party-selected{
  text-shadow: 0 0 10px var(--amber);
}

.img-icon {
  max-width: 40px;  
  margin:10px;  
  opacity: 50%;
}

.img-icon-selected {
  max-width: 70px;  
  margin:10px;
  /* box-shadow: 0 0 10px var(--amber);; */
}

.user-forms-card {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);    
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--amber);
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
}
.party-forms-card {
  position: inherit;  
  display: flex;
  width:100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: var(--white);
  background-color: var(--blue);
  padding: 0px 0px 20px 5px;  
  /* border-radius: 20px; */
}
input, textarea, label {
  border: 0.05rem solid var(--amber);
  color: rgb(0, 0, 0);  
  padding: 5px;
  border-radius: 2px;
  margin: 3px;
  min-width: 200px;
  resize: none;  
  display: block;    
  text-align: left;
}
.party-forms-card label{
  color: var(--white);
  border: 0.05rem solid var(--blue);
}
.flex-container {
  display: flex;    
  flex-direction: row;
  flex-grow: inherit;
  /* border: .1rem dotted white; */
  width: 90%;
  justify-content: space-evenly;  
  flex-wrap: wrap; 
  align-content: stretch;  
  height: 100%;
  padding: 5px;
  gap: 1px;
}
article{
  flex: 0 0 300px;
  /* margin: 10px; */
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-height: 450px;
  background-color: var(--amber);
  border-radius: 3px;
  padding: 5px;
  max-width: 250px;
  color: var(--blue);
}
article img {
  max-width: 100%;
}
.header-on-dark {
  /* padding: 15px; */
  padding-left: 15px;
  color: var(--white);
}
.header-on-light {
  padding: 15px;
  color: var(--gray);
}
fieldset {
  border-radius: 5px;
  width: 95%;
  text-align: left;
}

.party-container{  
  color: var(--white);  
  background-color: var(--blue);
  /* border: .1rem dotted white; */
  width: 800px;
  overflow-x:hidden;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  z-index: 1;

}
.party-container a {  
  color: var(--white);  
  text-decoration: none;
  position:relative;
  bottom:0px;    
}
.party-container a:hover {  
  text-shadow: 0 0 10px var(--amber);
}
.party-member-container {
  position: fixed;
  right: 0;
  top:0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:200px;
  min-width:90px;
  max-width:200px;
  background-color: var(--gray);
  color: var(--white);
  padding-left:10px;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;  
  border-left: 0.05rem solid gray;
}
.party-member-container a {  
  color: var(--white);  
  font-size: 16px;
  text-decoration: none;  
}
.party-member-container a:hover {  
  color: var(--white);  
  font-size: 16px;
  text-decoration: none;  
  text-shadow: 0 0 10px var(--amber);
}
.party-member-container::-webkit-scrollbar {
  display: none;
}
.party-member-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.glow-text {
  text-shadow: 0 0 10px var(--amber); 
}
.name-list {
  display:flex;
  flex-direction: row;
  font-weight: lighter;
  padding: 3px 0px 3px 0px;
}
.tooltip {
  position:relative; 
}

.tooltip:before {
  content: attr(data-text);
  position:absolute;
  top:0;
  transform:translateY(-100%);  
  left:initial;
  margin-left:initial;
  font-weight: lighter;  
  width:160px;
  padding:10px 5px 10px 10px;
  border-radius:10px;
  background:var(--amber);  
  color: var(--blue);  
  text-align: left;
  display:none; 
  z-index: 1;
  height:100px;
  
}
.tooltip:hover:before {
  display:block;  
  opacity: 1;
}

.message-footer{
  background-color: var(--gray);
  color: var(--white);
  width: 100%;  
  min-width: 800px;
  z-index: -1;
  font-size: 18px;
  margin-bottom: 0;
  border-top: .05rem solid var(--red);
  border-right: 0.05rem solid gray;
  padding: 0 10px 0 5px;  
  position: fixed;
  bottom: 0;  
  height: 140px;
  min-height: 140px;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}

.message-footer a {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  display: block;  
  font-size: 18px;    
}
.message-footer a:hover {  
  /* border-left: 10px solid rgb(248, 137, 33); */
  text-shadow: 0 0 10px var(--amber);
}